$font-logo: 'Water Brush', 'cursive'!important;

// colos
$color-appbar-icon: white;
$color-appbar-text: white;

// sizes
$size-appbar-logo: 2.5rem;
$size-appbar-icon: 25px;

// transformations
$btn-text-transform: unset !default;

