$font-logo: 'Water Brush', 'cursive' !important;

// colors
$color-appbar-icon: white;
$color-appbar-text: white;
$color-btn-scroll-top: #00ACC1;

// sizes
$size-appbar-logo: 2.5rem;
$size-appbar-icon: 15px;
$size-logo-title-home: 55px;

// widths
$width-access-dialog: 500px;

// heights
$height-editor-content: 250px;

// margins
$textarea-box-enclosed-single-outlined-margin-top: 13px;

// transformations
$btn-text-transform: unset !default;
